body {
    padding: 0;
    font-size: 90%;
    font-family: arial, verdana, sans-serif;
    line-height: 1.5;
    background-color: darkblue;
    margin: 0 3%;
}

header {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align:left;
    background-color: cornflowerblue;
    overflow: auto;
    margin: 1em;
    box-shadow:  0 8px cornflowerblue;
    -moz-box-shadow: 0 0 8px cornflowerblue;
    -webkit-box-shadow: 0 0 8px cornflowerblue;
    border-radius: 3px;
}

#wrapper {
    display:flex;
    flex-wrap:wrap;
}

nav {
    margin: 1%;
    box-shadow:  0 8px cornflowerblue;
    -moz-box-shadow: 0 0 8px cornflowerblue;
    -webkit-box-shadow: 0 0 8px cornflowerblue;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width:10%;
    text-align:right;
    background-color: cornflowerblue;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin: 0 0 0 .5em;
}

label {
    position: relative;
    left: 20%;
}

nav a {
    padding: 0.4em;
    letter-spacing: 2px;
    font-size: 1.1em;
    color: black;
}

nav a:hover {
    color: orange;
}


main {
    order:2;
    width:58%;
    margin-right:5%;
}

main, footer >* {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;
}

main p:first-child {
    font-size: 1.3em;
    color: lightgray;
    margin-top: 0;
    padding-top: 0;
    column-gap:5em;
}

main a:hover {
    color: orange;
}

footer {
    color: lightgray;
    padding-top: 1%;
    margin-left:15%;
    border-top: thin dotted black;
}

a {
    text-decoration: none;
    color: lightgrey;
}

h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 180px;
    margin-bottom: 0;
    font-size: 2.7em;
    color: orange;
}

h2 {
    font-size: 1.5em;
    color: orange;
}

h3 {
    color: orange;
    font-size: 1.3em;
    margin-top: 5px;
}


article > div {
    display: flex;
    flex-direction: row;
}

article > div > section {
    margin-left: 1.2%;
    margin-right: 1.2%;
    padding-left: 1%;
    padding-right: 1%;
    color: cornflowerblue;
    font-size: 1em;
    line-height: 1.5;
}

div {
    margin-left: 1.2%;
    margin-right: 1.2%;
    padding-left: 1%;
    padding-right: 1%;
    color: cornflowerblue;
    font-size: 1em;
    line-height: 1.5;
}

article > h2 {
    padding-top: 1%;
    border-top: thin dotted black;
}

#wrapper > aside {
    margin-bottom: 10px;
    order:3;
    width:20%;
}

#wrapper > aside, #wrapper > aside h2 {
    margin-top: 0;
    padding-top: 0;
}

aside section {
    margin-bottom: 1em;
    box-shadow:  0 8px cornflowerblue;
    -moz-box-shadow: 0 0 8px cornflowerblue;
    -webkit-box-shadow: 0 0 8px cornflowerblue;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: cornflowerblue;
    color: mediumblue;
}

aside section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside section  li {
    margin: 0 0 .5em 0;
}

aside a:hover {
    color: orange;
}

#logo{
    float:left;
    width: 120px;
}